.notes {
  display: flex;
  cursor: pointer;
  max-width: 100%;
  flex-wrap: wrap;
}

.notes__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    visibility: visible;
    transform: translateX(100%)
  }
  100% {
    visibility: visible;
    transform: translateX(0%)

  }
}

.note {
  visibility: hidden;
  animation: 0.1s fadeIn;
  animation-fill-mode: forwards;
  margin-left: -10px;
  color: black;
  background-color: green;
  font-size: 20px;
  height: 100px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  writing-mode: vertical-rl;
}
