
.keyboard {
    margin: auto;
    width: 400px;
}

.keyboard-display {
    height: 30px;
    font-size: 16px;
    color: black;
    background-color: white;
    width: 400px;
    margin-bottom: 10px;
    text-align: center;
    font-family: monospace;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.keyboard__button-cell {
    width: 100%;
}
 
.keyboard-input {
    display: flex;
    max-width: 400px;
}

.keyboard-col {
    flex-direction: column;
    flex: 25%;
}

.keyboard button {
    width: 100%;
    height: 40px;
}