body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.App {
  background-color: black;
  font-family: monotype, sans-serif;
  text-align: center;
  max-width: 600px;
}

.App h1 {
  font-size: 36px;
}

.main {
  text-align: center;
  width: 100%;
  height: 400px;
  display: flex;
}

.main-exit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-panel {
  display: flex;
  flex: 50%;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  padding: 20px;
}

.main-left {
  align-items: flex-start;
}

.main-right {
  align-items: flex-end;
}

.main button {
  width: 100px;
  height: 50px;
}
